.codeblock-buttons {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  border-radius: 0.5em;
  border: 1px solid var(--primary-medium);
  background: var(--hljs-bg);
  overflow: hidden;
  &:before {
    content: "#{$code-block-header-title}";
    font-family: var(--d-font-family--monospace);
    font-weight: bold;
    padding: 0.25em;
    background-color: var(--hljs-bg);
    color: var(--primary-very-high);
    order: 1;
    text-align: center;
    margin-top: -1em;
  }
  .codeblock-button-wrapper {
    display: flex;
    position: absolute;
    gap: 0.25em;
    top: 0.25em;
    right: 0.25em !important;
    .copy-cmd:not(.action-complete),
    .fullscreen-cmd:not(.action-complete) {
      opacity: 1;
      visibility: visible;
      border-radius: 0.5em;
    }
  }
    
  code {
    order: 2; 
    &.lines-decorator {
      padding: 0 1em;
    }
  }
}

.d-modal {
  &.fullscreen-code-modal {
    code.lines-decorator {
      padding-left: 1rem !important;
    }
  }
}
