pre.lines-decorator,
.codeblock-buttons {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  border-radius: 0.5em;
  border: 1px solid var(--primary-medium);
  background: var(--hljs-bg);
  overflow: hidden;
  &::before {
    content: "#{$code-block-header-title} " attr(data-code-wrap);
    font-family: var(--d-font-family--monospace);
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.25em;
    background-color: var(--hljs-bg);
    color: var(--primary-very-high);
    text-align: center;
    margin-top: -1em;
    order: 1;
  }
  .codeblock-button-wrapper {
    display: flex;
    position: absolute;
    gap: 0.25em;
    top: 0.25em;
    right: 0.25em !important;
    .copy-cmd,
    .fullscreen-cmd {
      opacity: 1 !important;
      visibility: visible !important;
      border-radius: 0.5em !important;
    }
  }
    
  code.lines-decorator {
    padding: 0 1em;
    order: 2;
  }
}

.d-modal {
  &.fullscreen-code-modal {
    code.lines-decorator {
      padding-left: 1rem !important;
    }
  }
}

// Hide header title on mermaid diagram
pre[data-code-wrap="mermaid"]:before {
  display: none;
}
